/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #d9d9d9;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #555;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.container {
    margin-left: 200px;
    height:100px;
    padding: 1px 16px;
    background-color: beige;
  }

  div.container-login {
    /* margin-left: 200px; */
    height:100px;
    padding: 1px 16px;
    
  }

  .user-details-container{
    margin-top: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .form-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .user-input{
    height: 50px;
  }

  .form-control {
    height: 30px;
  }

  .btn-primary {
    background-color: #285474;
    border-color: #285474;
    color: white;
  }

  .btn {
    background-color: #285474;
    border-color: #285474;
    color: white;
    width:200px;
    height: 30px;
    border-radius: 5px;
  }

  .btn:hover{
    opacity:90%;
    color:white;
  }
  
  .btn-secondary {
    background-color: #285474;
    border-color: #285474;
    color: white;
    width:200px;
  }

  .btn-secondary:hover {
    opacity: 90%;
  }

  .bottom-btns{
    display:flex;
    justify-content: space-between;
    padding: 15px;
  }

  .input-group-btn{
    height:40px;
    font-size:10px;
    line-height:1.3333333;
    border-radius:6px;
    display:block;

  }

  .input-group-btn input
  {
    visibility: hidden;
  }

  /* .world-level-play{
    background-color: beige;
    display: flex;
    justify-content: center;
  } */
  
  .student-details{
    border-radius: 15px; 
    border-style: solid; 
    border-color: #285474;
    margin-top: 20px;
    display: flex;
    text-align: center;
  }

